<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Manager</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="mx-4 lg:grid lg:grid-cols-3">
            <div class="lg:col-start-2">
                <div class="flex justify-between">
                    <h1 class="my-5 mx-5 text-4xl font-bold">Hi {{request.user}}</h1> 
                    <a class="self-center text-orange-600 rounded-xl hover:bg-orange-600 hover:text-white py-2 px-3" href="/user/logout">Log out</a>
                </div>
                
                <div class="flex-col justify-between">
                    {% block wrapper %}
                    {% endblock %}
                
                    <form action="/create-task" class="mb-5">
                        <button class="text-white bg-red-500 hover:bg-red-600 rounded-xl w-full mt-6 mb-4 p-3" action="submit">Add</button>
                    </form>
                </div>
                
            </div>
        </div>
    </body>
</html>