<h1>Tasks Management Application</h1>

<h2>Search Tasks</h2>

<form action="" method="get">
  <input type="text" name="search" />
  <button type="submit">Search</button>
</form>

<h2>All Tasks</h2>

{% for task in tasks %} {{forloop.counter}}. {{task.title}} {{task.created_date}} 
<a href="/delete-task/{{task.id}}">delete task</a>&nbsp;
<a href="/update-task/{{task.id}}">update task</a>&nbsp;
<a href="/completed_task/{{task.id}}">mark as complete</a>&nbsp;
<a href="/detail-task/{{task.id}}">details of the task</a></br>

{% endfor %}

{% for page in paginator.page_range %}
<li>
  <a href="?page={{ page }}&search={{request.GET.search}}">{{ page }}</a>
</li>
{% endfor %}